body {background-color: salmon;}
.header, .list {
    background-color: salmon;
    color: white;
    font: 800;
}
p, .list, h3 {color: white;}

h1 {text-align: center;
    color: white;}

.image {width: auto; height: 300px;}